/* CSS for homepage */
.nav.navbar_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    
    background-color: var(--clr_light);
    border-bottom: 2px solid var(--clr_grey_shade_e);
}
.nav.navbar_container > div {
    display: flex;
    justify-content: space-between;
    
    margin: 0 auto;
    width: 100%;
    max-width: calc(var(--safe_zone_desktop) * 2);
    /* padding: 0 1rem; */
}

.nav.navbar_container img {
    object-fit: contain;
    object-position: center;
    /* width: 100%; */
    /* max-width: 100%; */
}
.nav.section_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}
.nav.section_links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
}
.nav.section_user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .75rem .75rem;
    flex-grow: 1;
    /* outline: 1px solid red; */
}

.nav.section_logo img {
    padding: .25rem 0;
}
.nav.section_user img {
    border: 2px solid var(--clr_light);
    border-radius: 100vmax;
    margin-right: .625rem;
}
.nav.section_user a:hover h5 {
    text-decoration: underline;
}
.nav.section_user span {
    color: var(--clr_light);
}
.nav.section_user span * {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}
.nav.section_user h5 {
    font-size: var(--type_scale_1);
    margin-bottom: .175rem;
}
.nav.section_user p {
    font-size: .625rem;
    color: var(--clr_grey_shade_e)
}
.nav.section_links nav a {
    font-weight: 600;
    transition: color 200ms ease-out;
    /* margin: 0 .25rem; */
    padding: .5rem;
}
.nav.section_links nav a:hover,
.nav.section_links nav a:focus {
    color: var(--clr_primary_shade_c);
}

@media screen and (max-width: 48em) {
    .nav.navbar_container > div {
        display: grid;
        grid-template-areas:
        "logo user"
        "nav nav"
        ;
    }
    .nav.section_logo {
        grid-area: logo;
        padding-left: 1rem;
    }
    .nav.section_links {
        grid-area: nav;
        padding: 0;
    }
    .nav.section_user {
        grid-area: user;
    }
    .nav.section_logo img {
        max-width: 10rem;
    }
    .nav.section_user img {
        display: none;
    }
    .nav.section_links nav {
        display: inline-flex;
        justify-content: space-evenly;
        width: 100%;
        padding: .25rem 0;
        border-top: 1px solid var(--clr_grey_shade_d);
        border-bottom: 1px solid var(--clr_grey_shade_d);
    }
    .nav.section_links nav a {
        flex-grow: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: .25rem 0;
    }
    .nav.section_links nav a:not(:first-of-type), 
    .nav.section_links nav a:not(:last-of-type) {
        border-left: 1px solid var(--clr_grey_shade_d);
        border-right: 1px solid var(--clr_grey_shade_d);        
    }
}

.section_greetings,
.section_pie_charts {
    width: 100%;
    /* max-width: calc(var(--safe_zone_desktop) * 1.5); */
    max-width: min(100%, calc(var(--safe_zone_desktop) * 1.5));
    margin: 0 auto;
}
@media screen and (max-width: 64em) {
    .section_pie_charts {
        overflow-x: scroll;
    }
    .section_greetings,
    .section_pie_charts {
        padding: 0 1rem;
    }
}

.section_greetings {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}
@media screen and (max-width: 64em) {
    .section_greetings {
        margin-top: 2.5rem;
    }
}
.section_greetings .icon {
    width: 2rem;
    height: 2rem;
    filter: var(--filter_clr_primary_shade_a);
}
.section_greetings_welcome {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section_greetings_text_span {
    margin-left: .75rem;
}
.section_greetings_text_span p {
    font-size: .75rem;
    color: var(--clr_grey_shade_a);
    margin-bottom: .25rem;
}
.section_greetings_text_span h5 {
    font-size: var(--type_scale_2);
}
.section_greetings_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 97.5%;

    padding-bottom: .75rem;
    margin: 0 auto;
    border-bottom: 2px solid var(--clr_grey_shade_e);
}

.pie_chart_cards_wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0 1rem;

    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    /* outline: 1px solid blue; */
}
@media screen and (max-width: 64em) {
    .pie_chart_cards_wrapper {
        grid-template-columns: repeat(4, 40vw);
        padding: 0;
    }
}
@media screen and (max-width: 40em) {
    .pie_chart_cards_wrapper {
        grid-template-columns: repeat(4, 80vw);
    }
}

.pie_chart_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--clr_card_accent);
    border-radius: .5rem;
    padding: 1.5rem 1rem;
    /* outline: 1px solid red; */
}
.pie_chart_card:nth-of-type(4n - 3) {
    --clr_card_primary: #E0AC19;
    --clr_card_accent: #FCF7E8;
    /* outline: 1px solid red; */
}
.pie_chart_card:nth-of-type(4n - 2) {
    --clr_card_primary: #19E048;
    --clr_card_accent: #E8FCED;
    /* outline: 1px solid green; */
}
.pie_chart_card:nth-of-type(4n - 1) {
    --clr_card_primary: #194DE0;
    --clr_card_accent: #E8EDFC;
    /* outline: 1px solid blue; */
}
.pie_chart_card:nth-of-type(4n) {
    --clr_card_primary: #E019B0;
    --clr_card_accent: #FCE8F7;
    /* outline: 1px solid purple; */
}

.pie_chart_card_title {
    font-size: var(--type_scale_2);
    margin-bottom: 1rem;
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1;
}
.pie_chart_card_title::before {
    display: inline-block;
    position: relative;
    margin-right: .5rem;
    content: '';
    /* width: 1rem; */
    /* height: 1rem; */
    border: .5rem solid var(--clr_card_primary);
    border-radius: 100vmax; 
    /* background-color: var(--clr_card_accent); */
}
.pie_chart_container {
    width: 100%;
    max-width: 100%;
    /* height: 280px;
    max-height: 280px; */
    /* width: 17.5rem; */
    height: 15rem;
    max-height: 15rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    
    aspect-ratio: 1;
}
.pie_chart_card_text_section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .875rem;
    background-color: #fff;
    margin-top: .875rem;
    padding: 1rem;
    border-radius: .5rem;
    /* outline: 1px solid red; */
}
.pie_chart_card_text_section > span {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
}
.pie_chart_card_text_section > span:not(:last-of-type) {
    border-right: 1px solid var(--clr_grey_shade_e);
}
.pie_chart_card_text_section span h5 {
    font-weight: 400;
    font-size: .875rem;
}
.pie_chart_card_text_section span p {
    font-weight: 700;
    font-size: var(--type_scale_2);
    margin: .25rem 0;
}


.section_calendars_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--bp_large);
    margin: 5rem auto 1.5rem auto;
    padding: 0 1rem; 
}
@media screen and (max-width: 64em) {
    .section_calendars_header {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 48em) {
    .section_calendars_header {
        flex-direction: column;
        align-items: flex-start;
    }
}
.section_calendars_header header {
    flex-grow: 1;   
}
@media screen and (max-width: 48em) {
    .section_calendars_header header {
        margin-bottom: 1rem;
    }
}
.section_calendars_header h2 {
    font-size: var(--type_scale_3);
}
.calendar_legends_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}
.calendar_legend {
    font-size: var(--type_scale_1);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1;
}
.calendar_legend:not(:last-of-type) {
    margin-right: 1rem;
}
.calendar_legend::before {
    display: inline-block;
    position: relative;
    margin-right: .5rem;
    content: '';
    /* width: 1rem; */
    /* height: 1rem; */
    border: .5rem solid rgba(0,0,0,0);
    border-radius: 100vmax; 
    /* background-color: var(--clr_card_accent); */
}
.calendar_legend.national_holiday::before {
    border-color: #313CB6;
}
.calendar_legend.planned_leave::before {
    border-color: #FFAAAA;
}
.calendar_legend.leave_taken::before {
    border-color: #FF4D4D;
}


.section_calendars {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: auto; */
    width: 100%;
    /* max-width: 100%; */
    max-width: var(--bp_large);
    gap: 2.5rem 1.5rem;
    margin: 2.5rem auto;
    padding: 0 1rem;
}
@media screen and (max-width: 64em) {
    .section_calendars {
        padding: 0 1rem;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 48em) {
    .section_calendars {
        grid-template-columns: 1fr;
    }
}

.section_calendars .calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
    /* outline: 1px solid red; */
    opacity: .5;
}
.section_calendars .calendar.active {
    opacity: 1;
}
.section_calendars .calendar.future {
    opacity: 1;
}
.section_calendars .calendar table {
    min-height: 100%;
    box-shadow: 0 0 .25rem rgba(0,0,0,.125);
    width: 100%;
    table-layout: fixed;
}
.section_calendars .calendar table * {
    /* font-family: var(--font_primary); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding: .25rem;
    line-height: 1.4;
    text-align: center;
}
.section_calendars .calendar table tr:last-of-type {
    border-bottom: 1rem solid rgba(0,0,0,0);
}
.section_calendars .calendar th.month {
    background-color: var(--clr_grey_shade_e);
    color: #000; 
    /* background-color: var(--clr_primary); */
    /* color: #fff; */
    padding: .5rem 1rem;
}
.section_calendars .calendar.active th.month {
    background-color: var(--clr_primary);
    color: #fff;
}
.section_calendars .calendar th.mon,
.section_calendars .calendar th.tue,
.section_calendars .calendar th.wed,
.section_calendars .calendar th.thu,
.section_calendars .calendar th.fri,
.section_calendars .calendar th.sat,
.section_calendars .calendar th.sun {
    color: var(--clr_grey_shade_b)
}

.section_calendars .calendar td.planned {
    background-color: #FFAAAA;
    /* border-radius: .25rem; */
}
.section_calendars .calendar td.taken {
    background-color: #FF4D4D;
    color: #fff;
    /* border-radius: .25rem; */
}
.section_calendars .calendar tr th:last-of-type:not(.month),
.section_calendars .calendar tr td:last-of-type:not(.month) {
    /* grey out sundays */
    opacity: 0.5;
    /* background-color: rgba(0,0,0,.0875); */
    /* color: var(--clr_grey_shade_b); */
}
.section_calendars .calendar td.holiday {
    /* background-color: #313CB6; */
    background-color: #313cb6;
    color: #fff;
    /* border-radius: .25rem; */
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 51; /* Sit on top */
  padding: 2.5rem 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal[active=""] {
    display: block;
}

/* Outside modal content */
.modal_outside {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -5;
    /* background-color: rgba(255,0,0,.125); */
}

/* Modal Content */
.modal_content {
    background-color: var(--clr_light);
    margin: auto;
    /* padding: 1.5rem; */
    padding: 0;
    border: 1px solid #888;
    width: max(40em, 40%);
    border-radius: .5rem;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.25);
}
@media screen and (max-width: 48em) {
    .modal_content {
        width: 95%;
    }
}
.modal_content > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    /* outline: 1px solid red; */
}
.modal_content > header .modal_btn_close {
    font-size: 2rem;
}
.modal_content > header h2 {
    font-size: var(--type_scale_3);
    color: var(--clr_primary);
}
.modal_content .modal_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; 
    max-width: 32em;
    margin: 0 auto;
    padding: 1rem 1rem 2.5rem 1rem;
    /* outline: 1px solid blue; */
}
@media screen and (max-width: 48em) {
    .modal_content .modal_body {
        padding: 1rem 1rem;
        align-items: center;
    }
}
/* .modal_content .modal_body > div {
    margin: 0 auto;
} */

.modal_content .modal_body form {
    /* display: grid; */
    /* grid-template-columns: .5fr 1fr; */
    /* gap: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    
    /* width: 100%; */
    margin: 0 auto;
    /* outline: 1px solid red; */
}
.modal_content .modal_body label {
    margin: .875rem 0 .5rem 0;
}
.modal_content .modal_body input {
    width: 100%;
}


.modal_content .modal_body input,
.modal_content .modal_body select,
.modal_content .modal_body input::placeholder
{
    padding: .875rem .75rem;
    font-family: var(--font_primary);
}
.modal_content .modal_body textarea {
    font-family: var(--font_primary);
    padding: .5rem;
    margin-bottom: 1.25rem;
    height: 7.5rem;
    width: 100%;
    max-width: 100%;
}
.modal_content .modal_body button[type="submit"] {
    width: 100%;
    font-size: 1.125rem;
}

/* .modal_content .modal_body input[type="date"] {
    padding: .25rem .5rem;
} */