{% extends "employee_system/layout.html" %}
{% load static %}

{% block body %}

{% if user.is_authenticated %}
<main>
    <section class="section_greetings">
        <div class="section_greetings_content">
            <div class="section_greetings_welcome">
                <i id="section_greetings_icon" class="icon"></i>
                <span class="section_greetings_text_span">
                    <p id="text_greetings"></p>
                    <script>
                        let today = new Date()
                        let curHr = today.getHours()
                        
                        if (curHr < 12) {
                          document.getElementById("text_greetings").textContent = 'Good morning,'
                          document.getElementById("section_greetings_icon").classList.add("icon_morning")
                        } else if (curHr < 18) {
                          document.getElementById("text_greetings").textContent = 'Good afternoon,'
                          document.getElementById("section_greetings_icon").classList.add("icon_morning")
                        } else {
                          document.getElementById("text_greetings").textContent = 'Good evening,'
                          document.getElementById("section_greetings_icon").classList.add("icon_evening")
                        }
                    </script>
                    <h5>{{ user.get_full_name }}</h5>
                </span>
            </div>
            <div class="section_greetings_buttons_wrapper">
                
            </div>
        </div>
    </section>
    <section class="section_pie_charts">
        {% if data.leave_balance %}
            <div id="root_pie_charts"></div>
        {% else %}
        <span class="message_toast">
            <i class="icon icon_information"></i>
            <h5>Leave Balance Not Found</h5>
            <p>Please try again or contact technology department.</p>
        </span>
        {% endif %}
    </section>
    <section id="section_calendars" class="section_calendars">
        {% if data.months_calendar_this_year %}
            {% for month in data.months_calendar_this_year %}
                <div class="calendar" id="month-{{forloop.counter}}">
                    {{ month | safe }}
                </div>                
            {% endfor %}
        {% endif %}

        {% comment %} <div class="calendar">
            <h5>Last Month</h5>
        </div>
        <div class="calendar">
            <h5>This Month</h5>
        </div>
        <div class="calendar">
            <h5>Next Month</h5>
        </div> {% endcomment %}
    </section>
</main>
{% else %}
<main>
    <h2>Please Sign In</h2>
</main>
{% endif %}



<script defer src="{% static 'employee_system/js/chart.js-4.0.1/package/dist/chart.umd.min.js' %}"></script>
<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', (event) => {
        window.onload = async function() {
            var $id = (id) => document.getElementById(id)
            
            const app = $id('root_pie_charts')
            const pie_chart_cards_wrapper = document.createElement('div')
            pie_chart_cards_wrapper.classList.add("pie_chart_cards_wrapper")

            app.appendChild(pie_chart_cards_wrapper)

            // Organize data from Django
            let leave_balance_data = {{ data.leave_balance | safe }}[0]['fields']
            delete leave_balance_data['user']

            let leave_annual = {
                id: "leave_annual",
                name: "Annual Leave",
                starting: leave_balance_data.starting_leave_annual,
                planned: leave_balance_data.planned_leave_annual,
                used: leave_balance_data.used_leave_annual,
                available: leave_balance_data.starting_leave_annual - leave_balance_data.planned_leave_annual - leave_balance_data.used_leave_annual,
            }
            let leave_sick = {
                id: "leave_sick",
                name: "Sick Leave",
                starting: leave_balance_data.starting_leave_sick,
                planned: leave_balance_data.planned_leave_sick,
                used: leave_balance_data.used_leave_sick,
                available: leave_balance_data.starting_leave_sick - leave_balance_data.planned_leave_sick - leave_balance_data.used_leave_sick,
            }
            let leave_work_home = {
                id: "leave_work_home",
                name: "Work From Home",
                starting: leave_balance_data.starting_leave_work_home,
                planned: leave_balance_data.planned_leave_work_home,
                used: leave_balance_data.used_leave_work_home,
                available: leave_balance_data.starting_leave_work_home - leave_balance_data.planned_leave_work_home - leave_balance_data.used_leave_work_home,
            }
            let leave_maternity = {
                id: "leave_maternity",
                name: "Maternity Leave",
                starting: leave_balance_data.starting_leave_maternity,
                planned: leave_balance_data.planned_leave_maternity,
                used: leave_balance_data.used_leave_maternity,
                available: leave_balance_data.starting_leave_maternity - leave_balance_data.planned_leave_maternity - leave_balance_data.used_leave_maternity,
            }
            
            let all_leave = [leave_annual, leave_sick, leave_work_home, leave_maternity]

            all_leave.map(
                i => {
                    const data = [i.available, i.planned, i.used]
                    const labels = ["Available", "Planned", "Taken"]
                                        
                    if(i.starting > 0) {
                        const pie_chart_card = document.createElement('div')
                        pie_chart_card.classList.add("pie_chart_card")
    
                        const pie_chart_card_heading = document.createElement('h3')
                        pie_chart_card_heading.classList.add("pie_chart_card_title")
                        pie_chart_card_heading.textContent = i.name
                        
                        const pie_chart_container = document.createElement('canvas')
                        pie_chart_container.classList.add("pie_chart_container")
                        pie_chart_container.id = `chart_container_${i.id}`
                        
                        const pie_chart_card_text_section = document.createElement('section')
                        pie_chart_card_text_section.classList.add("pie_chart_card_text_section")

                        const pie_chart_card_text_available = document.createElement('span')
                        const pie_chart_card_text_available_heading = document.createElement('h5')
                        pie_chart_card_text_available_heading.textContent = "Available"
                        const pie_chart_card_text_available_value = document.createElement('p')
                        pie_chart_card_text_available_value.textContent = i.available
                        pie_chart_card_text_available.appendChild(pie_chart_card_text_available_heading)
                        pie_chart_card_text_available.appendChild(pie_chart_card_text_available_value)


                        const pie_chart_card_text_planned = document.createElement('span')
                        const pie_chart_card_text_planned_heading = document.createElement('h5')
                        pie_chart_card_text_planned_heading.textContent = "Planned"
                        const pie_chart_card_text_planned_value = document.createElement('p')
                        pie_chart_card_text_planned_value.textContent = i.planned
                        pie_chart_card_text_planned.appendChild(pie_chart_card_text_planned_heading)
                        pie_chart_card_text_planned.appendChild(pie_chart_card_text_planned_value)


                        const pie_chart_card_text_taken = document.createElement('span')
                        const pie_chart_card_text_taken_heading = document.createElement('h5')
                        pie_chart_card_text_taken_heading.textContent = "Taken"
                        const pie_chart_card_text_taken_value = document.createElement('p')
                        pie_chart_card_text_taken_value.textContent = i.used
                        pie_chart_card_text_taken.appendChild(pie_chart_card_text_taken_heading)
                        pie_chart_card_text_taken.appendChild(pie_chart_card_text_taken_value)


                        pie_chart_card_text_section.appendChild(pie_chart_card_text_available)
                        pie_chart_card_text_section.appendChild(pie_chart_card_text_planned)
                        pie_chart_card_text_section.appendChild(pie_chart_card_text_taken)


                        pie_chart_card.appendChild(pie_chart_card_heading)
                        pie_chart_card.appendChild(pie_chart_container)
                        pie_chart_card.appendChild(pie_chart_card_text_section)

                        pie_chart_cards_wrapper.appendChild(pie_chart_card)

                        new Chart(
                            document.getElementById(`chart_container_${i.id}`),
                            {
                                type: 'pie',
                                data: {
                                    labels: labels,
                                    datasets: [
                                        {
                                            label: i.name,
                                            data: data,
                                        }
                                    ]
                                },
                                options: {
                                    plugins: {
                                        legend: {
                                            display: true,
                                            position: 'right',
                                        }
                                    }
                                }
                            }
                        )
                    }
                }
            )
   

            // Highlight <th> of the calendar div of the current month
            Array.from($id("section_calendars").querySelectorAll(".calendar")).map(
                month_div => {
                    if(parseInt(month_div.id.slice(6)) === (new Date().getMonth() + 1)) {
                        month_div.classList.add("active")
                    } else if (parseInt(month_div.id.slice(6)) > (new Date().getMonth() + 1)) {
                        month_div.classList.add("future")
                    }
                }
            )
                

            // Handle leave model
            // Organize data from Django
            let leave_data = {{ data.leave | safe }}
            leave_data.map(
                (leave, i) => {
                    delete leave_data[i]['fields']['user']
                }
            )
            // console.log(leave_data)


            leave_data.map(
                (leave, i) => {
                    leave_year = (new Date(leave.fields.leave_date)).getFullYear()

                    // only continue if leave year is equal to current year
                    if(leave_year === new Date().getFullYear()) {
                        leave_month = (new Date(leave.fields.leave_date)).getMonth() + 1
                        leave_date = (new Date(leave.fields.leave_date)).getDate()
                        leave_type = leave.fields.leave_type
                        
                        console.log(new Date().getDate() > leave_date) 
                            
                        if(leave_date > new Date().getDate()) {
                            leave_status = "Planned"
                        } else {
                            leave_status = "Taken"
                        }
                        
                        // $id(`month-${leave_month}`).style.outline = "2px solid red"
                        Array.from(
                            $id(`month-${leave_month}`).querySelector("table").querySelector("tbody").querySelectorAll("td")
                        ).map(
                            node => {
                                if(node.textContent.trim() ===  leave_date.toString()) {
                                    if(leave_status === "Planned") {
                                        node.classList.add("planned")
                                        node.setAttribute("title", `${leave_type} (${leave_status})`)
                                    } else if(leave_status === "Taken") {
                                        node.classList.add("taken")
                                        node.setAttribute("title", `${leave_type} (${leave_status})`)
                                    }
                                }
                            }
                        )
                    }
                }
            )

            // Handle national holidays
            let national_holidays = {{ data.national_holidays | safe }}
            national_holidays.map(holiday => {
                // console.table(Object.keys(holiday)[0], Object.values(holiday)[0])
                holiday_year = (new Date(Object.values(holiday)[0])).getFullYear()

                // only continue if holiday year is equal to current year
                if(holiday_year === new Date().getFullYear()) {
                    holiday_month = (new Date(Object.values(holiday)[0])).getMonth() + 1
                    holiday_date = (new Date(Object.values(holiday)[0])).getDate()
                    
                    Array.from(
                        $id(`month-${holiday_month}`).querySelector("table").querySelector("tbody").querySelectorAll("td")
                    ).map(
                        node => {
                            if(node.textContent.trim() ===  holiday_date.toString()) {
                                node.classList.add("holiday")
                                node.setAttribute("title", Object.keys(holiday)[0])
                            }
                        }
                    )
                }
            })
            

        }
    })
    
</script>
{% endblock %}