{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Employee System by masayashida.com{% endblock %}</title>
</head>
<body>
    <header>
        <div>
        {% if user.is_authenticated %}
            Signed in as <strong>{{ user.username }}</strong>.
        {% else %}
            Not signed in.
        {% endif %}
        </div>
        <ul class="nav">
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Log In</a>
                </li>
            {% endif %}
        </ul>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>
