{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'employee_system/css/globals.css' %}">
    <title>{% block title %}Employee System by masayashida.com{% endblock %}</title>
</head>
<body>
    <header class="nav navbar_container">
        <div>
            <section class="nav section_logo">
                <a href="{% url 'index' %}">
                    <img
                    src="{% static 'employee_system/images/zu_horizontal_logo.svg' %}"
                    alt="Zillion United logo"
                    width="221"
                    height="48"
                    >
                </a>
            </section>
            {% if user.is_authenticated %}
            <section class="nav section_links">
                <nav>
                    <a href="#" class="utils clr_primary_shade_a">
                        Overview
                    </a>
                    {% comment %} <a href="#" class="utils clr_primary_shade_a">
                        Calendar
                    </a> {% endcomment %}
                    <a href="#" class="utils clr_primary_shade_a">
                        Account
                    </a>
                    <a href="{% url 'logout' %}" class="utils clr_primary_shade_a">
                        Sign Out
                    </a>
                </nav>
            </section>
            {% endif %}
            {% if user.is_authenticated %}
            <section class="nav section_user utils bg_gradient_primary">
                <img
                src="{% static 'employee_system/images/zu_logo_56x56.png' %}"
                alt="No Profile Photo"
                width="40"
                height="40"
                >
                <span>
                    {% if user.first_name and user.last_name %}
                    <h5>{{ user.first_name }}&nbsp;{{ user.last_name }}</h5>
                    {% else %}
                    <h5>@{{ user.username }}</h5>
                    {% endif %}

                    <p>{{ user.email }}</p>
                </span>
            </section>
            {% endif %}
        </div>

        
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>
